nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    background-color: azure;
    position: fixed;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;

}

.container h2 {
    margin: 20px;
}

nav h1 {
    margin: 20px;
}