nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    background-color: lightblue;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;

}

.container h2 {
    margin: 20px;
}

.container a {
    text-decoration: none;
    color: black
}

.main {
    padding-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: pink;
    height: 100svh;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}